# Notion integration
NOTION_API_KEY=
NOTION_DATABASE_ID=

# Optional: customize only if your Notion database property names are different
NOTION_PROP_TITLE=Name
NOTION_PROP_EMAIL=Email
NOTION_PROP_YEAR=Year
NOTION_PROP_PROJECT_NAME=Project Name
NOTION_PROP_CATEGORY=Category
NOTION_PROP_TEAM_SIZE=Team Size
NOTION_PROP_DESCRIPTION=Description
NOTION_PROP_GITHUB=GitHub
